.settingsContainer {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 1.5rem;
  width: 900px;
  margin: 45px auto 0 auto;
  min-width: 591px;
  @media (max-width: 900px) {
       max-width: 100%;
       min-width: 100%;
       width: 100%;
   }
}
.alert:hover {
      cursor: pointer;
      border-color: #7bc989;
  }

.link:hover {
      cursor: pointer;
      text-decoration: underline;
      border-color: #7bc989;
    
}

.createScreenContainer {
    padding: 0;
    margin-top: 66px;
    max-width: 1131px;
    /* [`@media (max-width: 900px)`]: {
      maxWidth: "100%",
      marginTop: "30px",
    }, */
  }

.progressbox {
    width: 515px;
    max-width: 100%;

    /* [`@media (max-width: ${theme.breakpoints.sm}px)`]: {
      width: "100%",
      padding: "0px",
    }, */
  }

  .box {
    display: flex;
    flex-direction: row;
    gap: 40px;
    max-width: 100%;
    /* [`@media (max-width: ${theme.breakpoints.sm}px)`]: {
      flexDirection: "column-reverse",
      gap: "20px",
    }, */
  }

  .button {
    color: #fff !important;
    background:
      "linear-gradient(89.58deg, #44BCF0 -19.85%, #818CF8 54.07%, #A099FF 120.75%)";
    width: 100%;
  }

  .h3 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #fff;
  }

  .address {
    font-size: 18px;
    font-weight: 500;
    color: #B3B4B7;
    text-overflow: ellipsis;
  }

  .formContainer {
    padding: 30px;
    margin-top: 38px;

    border-radius: 8px;
    flex: 2;
    /* minWidth: "591px", */
    /* [`@media (max-width: ${theme.breakpoints.sm}px)`]: {
      maxWidth: "100%",
      minWidth: "100%",
    }, */
  }


